<div class="product-container">
    <img
      class="product-image"
      src="{{ product.url }}"
      alt=""
      (click)="navigateToDetail(product.id)"
    />
    <p>{{ product.name }}</p>
    <p>$ {{ product.price }}</p>
  
    <select class="select-input" required [(ngModel)]="amount">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
    </select>
  
    <app-button-add-cart [product]="product" [amount]="amount"></app-button-add-cart>
  </div>
  