<div class="detail-container">
    <img class="product-image" src="{{ product.url }}" alt="" />
    <div class="detail-item">
      <h3>{{ product.name }}</h3>
      <p>$ {{ product.price }}</p>
      <p>{{ product.description }}</p>
      <select class="select-input" required [(ngModel)]="amount">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
      </select>
  
      <!-- <button class="button-add-cart" mat-raised-button (click)="addToCart()">
        Add to Cart
      </button> -->
      <app-button-add-cart
      [product]="product"
      [amount]="amount"
    ></app-button-add-cart>
  
      <a class="back-link" href="/">Back to product list</a>
    </div>
  </div>
  